#nav {
  background-color: #fcd80b;
}

#menu {
  font-family: "Roboto";
  background-color: #213b68;
}

#blue-white {
  background: #00609c;
  color: white;
}

#blue-text {
  color: #00609c;
}

#btn {
  margin-left: 10px;
}
